<mat-card fxFlex>
  <mat-card-header>
    <mat-card-title>დაწესებულებები</mat-card-title>
  </mat-card-header>
  <mat-card-content fxLayout="column">
    <form [formGroup]="searchForm" (submit)="loadData()" fxFlex='60' fxLayout="row" fxLayoutAlign="space-between">
      <mat-form-field appearance="outline" fxFlex="45">
        <mat-label>საიდენტიფიკაციო</mat-label>
        <input matInput formControlName="pid" type="text" />
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex="45">
        <mat-label>დასახელება</mat-label>
        <input matInput formControlName="name" type="text" />
      </mat-form-field>
      <div fxFlex="5" fxLayout="column" fxLayoutAlign="center">
        <button mat-icon-button>
          <mat-icon>search</mat-icon>
        </button>
      </div>
    </form>
    <app-table [data]="data" [columns]="columns" [paging]="paging" [actions]='actions' (pageChange)="page($event)">
    </app-table>
  </mat-card-content>
  <mat-card-actions></mat-card-actions>
</mat-card>
