<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer mode="side" opened role="navigation" class="sidenav">
    <mat-selection-list #shoes [multiple]="false">
      <mat-list-option routerLink="/protected/management/institutions" routerLinkActive="activeTab">
        <mat-icon mat-list-icon>account_balance</mat-icon>
        <div mat-line>institutions</div>
      </mat-list-option>
      <mat-list-option routerLink="/protected/management/users" routerLinkActive="activeTab">
        <mat-icon mat-list-icon>person</mat-icon>
        <div mat-line>users</div>
      </mat-list-option>
    </mat-selection-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
