:host {
  height: 100%;
  overflow: hidden;
  .sidenav-container {
    height: 100%;
    // position: relative;
    // width: 100%;
    // max-width: 100%;
    // display: -moz-flex;
    // display: flex;
    // -moz-flex-direction: row;
    // flex-direction: row;
    .sidenav {
      width: 15%;
    }
  }

  .activeTab {
    background: rgba(255, 255, 255, 0.12);
  }
}
